<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vitproc2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <application
        android:name="com.example.vitproc2.AppObjects"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.helpshift.HSService"
            android:label="Helpshift Service" >
        </service>
		
        <activity
            android:name="com.example.vitproc2.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.vitproc2.OfficeActivity"
            android:label="@string/title_activity_office"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vitproc2.MainActivity" />
        </activity>
         <activity
            android:name="com.example.vitproc2.SearchActivity"
            android:label="@string/title_activity_search" 
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vitproc2.MainActivity" />
            <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>
        <meta-data android:name="android.app.searchable"
                   android:resource="@layout/searchable"/>
        </activity>
        <activity
            android:name="com.example.fragments.OfficeFragment"
            android:label="@string/title_activity_office" >
        </activity>
        <activity
            android:name="com.example.fragments.FresherProcFragment"
            android:label="@string/title_activity_fresher_proc" >
        </activity>
        <activity
            android:name="com.example.fragments.ClubsFragment"
            android:label="@string/title_activity_clubs" >
        </activity>
        <activity
            android:name="com.helpshift.HelpshiftActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSAddIssue"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSAddProfile"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSMessages"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSQuestionsList"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSQuestion"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSSection"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSInbox"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSFaqs"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/HSThemeLight" />
        
       
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
